<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    
    <%= link_to('Go Home', {action: 'home'}) %> | 
    <%= link_to('More Info', {action: 'info'}) %> | 
    <%= link_to('Buy Now', {action: 'purchase'}) %>
  </body>
</html>
